@page "{ShopId:int?}"
@model WebApplication1.Pages.Shops.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Editing @Model.Shop.Name</h2>

<form method="post">
    <input type="hidden" asp-for="Shop.Id" />
    <div class="form-group">
        <label asp-for="Shop.Name"></label>
        <input asp-for="Shop.Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Shop.Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Shop.Location"></label>
        <input asp-for="Shop.Location" class="form-control" />
        <span class="text-danger" asp-validation-for="Shop.Location"></span>
    </div>
    <div class="form-group">
        <label asp-for="Shop.Specialty"></label>
        <select class="form-control" asp-for="Shop.Specialty" asp-items="Model.Specialties"></select>
        <span class="text-danger" asp-validation-for="Shop.Specialty"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>

</form>