@page
<!--Indicates a raxor page-->

<!--Model attached to this Razor page, CSharp backend to this page will populate this model-->
@model WebApplication1.Pages.Shops.ListModel
@{
    ViewData["Title"] = "List";
}

<h2>Shops</h2>

